body{
	background-color: #f4f4f4;
	color: #555555;
	font: normal Arial, Helvetica, sans-serif, 16px;
	line-height: 1.5em;
}
.container{
	width: 500px;
	margin: auto;
}
.box-1{
	background-color: #333;
	color: #fff;
}