body{
background-color: #f4f4f4;
color: #555555;
font: normal Arial, Helvetica, sans-serif, 16px;
line-height: 1.5em;
}
button{
	background-color: #333;
color: #fff;
padding: 10px 15px;
border: none;
border-radius: 22.5px;
}
a{
text-decoration:none ;
color: #000;
}
button:hover{
background: red;
color: hsl(60.0, 55.6%, 91.2%);
transition: 1.5s;
}

a:visited{
color: black;
}
.container{
width: 80%;
margin: auto;
}
.box-1{
background-color: #333;
color: #fff;
border: 5px red solid;
padding: 20px;
margin: 20px 0;
}
.box-1 h1{
font-family: Tahoma;
font-size: 800;
font-style: italic;
text-decoration: underline;
text-transform: uppercase;
letter-spacing: 0.2em;
}
.box-2{
border: 3px dotted #ccc;
padding: 20px;
margin: 20px 0;
}
.cate{
border: 1px #ccc solid;
padding: 10px;
border-radius: 15px;
}
.cate h2{
text-align: center;
}
.cate ul{
padding: 0;
list-style: square;
list-style: none;
}
.cate li{
padding-bottom: 8px0;
border-bottom: dotted 1px #333;
}
.my-form{
padding: 20px;
}
.my-form .form-group{
padding: bottom: 15px;
}
.my-form label{
display: inline-block;
}
.my-form input[type="text"]{
padding: 8px;
width: 100%;
}
.my-form input[type="email"]{
padding: 8px;
width: 100%;
}
.my-form input[type="phone"]{
padding: 8px;
width: 100%;
}
.my-form input[type="date"]{
padding: 8px;
width: 100%;
}
.my-form select{
padding: 8px;
width: 100%;
}
.my-form input[type="number"]{
padding: 8px;
width: 100%;
}
.my-form textarea{
padding: 8px;
width: 100%;
}
.my-form input[type="submit"]{
background-color: #333;
color: #fff;
padding: 10px 15px;
border: none;
}
.sample{
	float: left;
	width: 33%;
	border: 0.5px solid;
	padding: 1px;
}

#sec{
	float: left;
	width: 70%;
}
#side-bar{
	float: right;
	width: 30%;;
}
